@use "../../utils/styles/mixins" as mixins;
@use "../../utils/styles/variables" as vars;

/* reset.scss */

/* Box sizing rules & remove default padding and margin */
html,
body,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  cursor: default;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
