@use "../../utils/styles/variables" as vars;

header {
  @media (min-width: vars.$tabletteBreakpoint) {
    padding: 0 2em 0 2em;
  }
  padding: 1em 0 1em 0;
  background: #fffff4;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  border-radius: 0 0 8px 8px;
}

.loggedHeader {
  padding: unset;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header figure {
  @media (min-width: vars.$tabletteBreakpoint) {
    width: 110px;
  }
  width: 85px;

  &:hover {
    cursor: pointer;
  }
}

header .loggedFigure {
  width: 40px;
  position: absolute;
  top: 0;
  left: 1em;
}

.titleWrapper {
  @media (min-width: vars.$tabletteBreakpoint) {
    flex-flow: row;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  text-decoration: unset;
}

header h1 {
  color: vars.$fontColorPrimary;
}
